
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: #f5f1e9; /* Beige background */
        font-family: 'Times New Roman', Times, serif;
        overflow: hidden; /* Hide overflow caused by side images */
        text-align: center;
    }

    .container {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-wrapper {
        position: relative;
        z-index: 1; /* Ensure the login form is on top of side images */
    }

    .login-form {
        background-color: #d8cbc4; /* Light brown background */
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin: 0 auto; /* Center form inside the container */
    }

    h3 {
        font-size: 24px;
        color: #5b3e31; /* Dark brown color for title */
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-size: 16px;
        color: #5b3e31;
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #5b3e31;
        border-radius: 5px;
        font-size: 14px;
        background-color: #fff; /* White input background */
    }

    .custom-button {
        background-color: #bca89f; /* Beige button background */
        color: #5b3e31; /* Dark brown text */
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .custom-button:hover {
        background-color: #a48978; /* Darker brown on hover */
    }

    .image-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 200px; /* Fixed width for square */
        height: 300px; /* Fixed height for square */
        overflow: hidden; /* Hide overflow outside of the container */
    }

    .left-image-container {
        border-radius: 50%;
        left: 0;
    }

    .right-image-container {
        border-radius: 50%;
        right: 0;
    }

    .side-image {
        width: 100%; /* Make image fill the container */
        height: 100%; /* Make image fill the container */
        object-fit: cover; /* Crop the image to fit the square */
        object-position: bottom; /* Align to the bottom */
    }
