{% extends "base.html" %}

{% block title %}Create Task{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='createtasks.css') }}">
{% endblock %}

{% block content %}
    <!-- Form for creating a task -->
    <div class="form-container">
        <form method="POST" action="{{ url_for('task.create_task') }}">
            <h1 class="create-task-title" align="center">Create New Task</h1>
            
            <!-- Task Name Field -->
            <div class="form-group">
                <label for="task">Task Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="task" 
                    name="task" 
                    placeholder="Enter task name"
                    required>
            </div>
            
            <!-- Frequency Field -->
            <div class="form-group">
                <label for="frequency">Frequency</label>
                <input 
                    type="text"
                    class="form-control" 
                    id="frequency" 
                    name="frequency" 
                    placeholder="Enter task frequency (Weekly, Monthly)"
                    required>
            </div>
            
            <!-- Group Name Field -->
            <div class="form-group">
                <label for="group_name">Group Name</label>
                <input 
                    type="text"
                    class="form-control" 
                    id="group_name" 
                    name="group_name" 
                    placeholder="Enter group Name"
                    required>
            </div>
            
            <br />
            <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
    </div>

    <!-- Hero section with image -->
    <div class="hero-section">
        <h2 align="center">Let's organise your week!!</h2>
        <img src="https://th.bing.com/th?q=Beige+Bear+Cartoon+Wallpaper&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=2&pid=InlineBlock&mkt=en-AU&cc=AU&setlang=en&adlt=strict&t=1&mw=247" alt="Bear">
    </div>

    {{ text }}
{% endblock %}
