{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <div id="home-page">
        <h1 id="home">Home</h1>
        <div class="button-container">
            <a href="{{ url_for('group.create_group') }}">
                <button class="custom-button">Create Group</button>
            </a>
            <a href="{{ url_for('group.join_group') }}">
                <button class="custom-button">Join Group</button>
            </a>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/bearhome.jpg') }}" alt="Bear Home">
        </div>
    </div>

{% endblock %}
