{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/taskallocate.css') }}">
{% endblock %}

{% block title %}
    Allocate Tasks
{% endblock %}

{% block content %}
    <div class="mt-5">
        <h2>Allocate Tasks to Group</h2>

        <!-- Flash messages will be displayed here from base.html -->

        <!-- Form for task allocation -->
        <form method="POST">
            <div class="form-group">
                <label for="frequency">Select Task Frequency</label>
                <select class="form-control" id="frequency" name="frequency" required>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Fortnightly">Fortnightly</option>
                    <option value="Monthly">Monthly</option>
                </select>
            </div>
            <button type="submit" name="action" value="view_allocated" class="btn btn-primary">View Your Allocated Tasks</button>
            <button type="submit" name="action" value="view_all" class="btn btn-primary">View All Tasks</button>
        </form>
    </div>

    <!-- Hero section with image -->
    <div class="hero-section">
        <img src="{{ url_for('static', filename='images/bearallocate.png') }}" alt="Bear for task allocation">
    </div>
{% endblock %}
