{% extends "base.html" %}

{% block title %}
    View All Tasks
{% endblock %}

{% block content %}
    <div class="mt-5">
        <h2>All tasks in {{ group.group_name }}</h2>

        <!-- Check if there are tasks to display -->
        {% if tasks %}
            <table class="table table-bordered table-striped mt-4">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Frequency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.task_name }}</td>
                        <td>{{ task.frequency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tasks allocated for this group yet.</p>
        {% endif %}
    </div>
{% endblock %}
