{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">View your tasks</h3>
</form>
// Make a drop box
<!-- Task list table -->
<h4>Your Tasks:</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name of Task</th>
            <th>Done</th>
            <th>Not Done</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.date }}</td>
            <td>{{ task.name }}</td>
            <td>
                <!-- If the task is done, display a checkbox as checked -->
                <input type="checkbox" {% if task.status == 'done' %}checked{% endif %} disabled>
            </td>
            <td>
                <!-- If the task is not done, display a checkbox as checked -->
                <input type="checkbox" {% if task.status == 'not done' %}checked{% endif %} disabled>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ text }}
{% endblock %}