{% extends "base.html" %}

{% block title %}View Tasks{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='viewtask.css') }}">
{% endblock %}

{% block content %}
    <div class="header">
        <h1>Your Tasks</h1>
    </div>

    <div class="hero-section">
        <div class="centered-content">
            {% if tasks %}
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Task Name</th>
                        <th>Frequency</th>
                        <th>Status</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.task_name }}</td>
                        <td>{{ task.frequency }}</td>
                        <td>
                            <select class="status-select" data-task-id="{{ task.id }}" onchange="updateStatus(this)">
                                <option value="not_done" {% if task.status == 'not_done' %}selected{% endif %}>Not Done</option>
                                <option value="done" {% if task.status == 'done' %}selected{% endif %}>Done</option>
                            </select>
                        </td>
                        <td>{{ task.date.strftime('%Y-%m-%d') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No tasks found. You can create tasks from the Create Task page.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function updateStatus(select) {
            var status = select.value;
            var taskId = select.getAttribute('data-task-id');
            // Make an AJAX request to update the task status on the server
            fetch('/update-task-status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ id: taskId, status: status })
            }).then(response => response.json())
              .then(data => {
                // Handle response if needed
              });
        }
    </script>
{% endblock %}